table,
td,
th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  margin: auto;
  color: blue;
}

td,
th {
  padding: 10px;
}

.editView {
  text-align: center;
  font-size: 40px;
  color: blue;
}

.editNav {
  padding: 10px 10px;
  border: 1px blue;
}
