.flash-card {
  background-color: aqua;
  color: black;
  border-width: 2px;
  width: 200px 200px;
  border-color: black;
  border-style: solid;
}
.cardView {
  display: block;
  text-align: center;
  font-size: 40px;
  color: black;
}

.viewNav {
  padding: 10px 10px;
  box-shadow: 1px black;
}
